<h2 class="text-xl font-bold">
    Net Positions: STG5 (demo)
</h2>
<table class="responsive-table bg-white-dark text-dark text-base dark:text-white-light">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>LTP</th>
            <th>MTM</th>
            <th>Qty Stretagy</th>
            <th>Buy</th>
            <th>Sell</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                BANKNIFTY230O4444OOCE
            </td>
            <td>116.75</td>
            <td>Nan</td>
            <td>-15</td>
            <td>0.00</td>
            <td></td>
        </tr>
        <tr>
            <td>
                BANKNIFTY230O4444OOCE
            </td>
            <td>147.5</td>
            <td>Nan</td>
            <td>-15</td>
            <td>0.00</td>
            <td></td>
        </tr>
    </tbody>
</table>